

@media (max-width: 768px) {

    body {
        background-image: url(assets/crew/background-crew-desktop.jpg);
        background-size: cover;
        color: white;
        padding: 0vh 5vw;

    }

    h1 {
        font-size: 5em;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin-top: 7vh;
        height: auto;
        align-items: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .crew-img-mobile {
        width: 48vw;
        height: 30vh;
        border-bottom: solid 1px rgba(255, 255, 255, 0.474);
    }

    .crew-img-desktop {
        display: none;
    }

    .crew-list-desktop {
        display: none;
    }

    .crew-list-mobile {
        display: flex;
        gap: 7vw;
    }

    .crew-list-mobile li {
        border: solid 1px var(--line-clr);
        border-radius: 1000px;
    }

    .crew-list-mobile li a {
        color: #ffffff00;
    }

    .active-section {
        color: white;
        background-color: white;
    }
}

@media (min-width: 769px) {
    body {
        background-image: url(assets/crew/background-crew-desktop.jpg);
        background-size: cover;
        color: white;
    }

    h1 {
        font-size: 5em;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: end;
        gap: 20vw;
        height: 90vh;
    }

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

    .page-title {
        margin-bottom: 10vh;
    }

    .crew-img-mobile {
        display: none;
    }

    .crew-img-desktop {
        width: 25vw;
        height: 70vh;
        margin-bottom: -10vh;
    }

    .crew-list-mobile {
        display: none;
    }

    .crew-list-desktop {
        margin-top: 10vh;
        display: flex;
        gap: 2vw;
    }

    .crew-list-desktop li {
        border: solid 1px rgba(255, 255, 255, 0.223);
        padding: 0.00rem 0rem;
        border-radius: 1000px;
    }

    .crew-list-desktop li a {
        color: #ffffff00;
    }

    .active-section {
        color: white;
        background-color: white;
    }

}