
@media (max-width: 768px) {

    body {
        background-image: url(assets/home/background-home-mobile.jpg);
        background-size: cover;
        color: white;
        padding: 0vh 5vw;

    }

    h1 {
        font-size: 5em;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 7vh;
        height: auto;
        align-items: center;
        text-align: center;
    }

    h1 {
        margin-bottom: 5vh;
    }

    .explore-div {
        margin-top: 20vh;
    }

    .explore {
        color: black;
        background-color: #fff;
        margin-top: 10vh;
        padding: 8vh 14vw;
        border-radius: 200px;
    }
}

@media (min-width: 769px) {
    body {
        background-image: url(assets/home/background-home-desktop.jpg);
        background-size: cover;
        color: white;
    }

    h1 {
        font-size: 5em;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        gap: 20vw;
        height: 100vh;
    }

    .explore-div {
        margin: 20vh 0vw 0vh 10vw;
    }

    .explore-div .explore {
        color: black;
        background-color: #fff;
        padding: 12vh 5vw;
        border-radius: 1000px;
        transition: 0.9s;
    }


    .explore-div .explore:hover {
        box-shadow: 10px 10px 50px 50px rgb(255, 255, 255);
        color: red;
    }
}